# Cache
**/__pycache__/

# Environment
venv

# Terraform
terraform.tfstate*
.terraform*

**/ny_taxi_data/
postgres-database/

# Large Files
**/*.csv.gz
**/*.parquet

# dbt
**/logs
**/.piperider

# 5_batch_processing
5_batch_processing/data
5_batch_processing/fhvhv
5_batch_processing/*.csv
5_batch_processing/homework/data
5_batch_processing/homework/spark-warehouse